<% present my_service_item do |my_service_item_presenter| %>
  <%= content_tag :div, class: "basic-listing #{cycle('odd', 'even', class: 'sundry_item')}", id: my_service_item_presenter.dom_id do %>
    <div class="basic-listing-details">
      <%= my_service_item_presenter.octicon_edit_link %>
    </div>

    <div class="basic-listing-navigation basic-listing-delete-link">
      <%= my_service_item_presenter.delete_link %>
    </div>
  <% end %>
<% end %>
