<%= div_for design, class: "basic-listing design #{cycle('odd', 'even', name: 'job_specification')}" do %>
  <div class="basic-listing-details basic-listing-link">
    <%= pluralize design.hours, "hour" %>
    <%= link_to "Edit", edit_design_path(design) %>
  </div>

  <div class="basic-listing-navigation basic-listing-delete-link">
    <%= button_to "Remove", design_path(design), method: :delete,
      data: { confirm: "Are you sure?", disable_with: "Processing..." }, class: 'secondary-action-button' %>
  </div>
<% end %>
