<div class="content">
  <div class="main print-job-section" id="milages">
    <h3>Mileage</h3>

    <%= link_to "Add Mileage", new_print_job_mileage_path(@print_job), class: 'action-button' if @print_job.quoted? %>

    <% if @print_job.mileages.any? %>
      <%= render(
        partial: "mileages/mileage",
        collection: @print_job.mileages,
        as: :mileage
      ) %>
    <% end %>
  </div>
</div>
