<% present print_job do |print_job_presenter| %>
  <%= content_tag :div, class: "basic-listing  #{cycle('odd', 'even', name: 'print_job')}", id: print_job_presenter.dom_id do %>
    <div class="print-job-name">
      <%= print_job_presenter.octicon_view_link %>
    </div>

    <div class="print-job-prices-overview">
        <%= render(partial: 'print_jobs/prices', locals: { print_job: print_job }) %>
    </div>

    <%= print_job_presenter.delete_link %>
  <% end %>
<% end %>
