<%= content_tag :div, class: "print-job  #{cycle('odd', 'even')}", id: print_job.dom_id do %>
  <div class="print-job-name">
    <%= print_job.linked_content("#{octicon('eye')} #{print_job.name}".html_safe, class: 'print-job-view-link') %>
  </div>

  <div class="print-job-prices-overview">
      <%= render(partial: 'print_jobs/prices', locals: { print_job: print_job }) %>
  </div>

  <%= print_job.delete_job %>
<% end %>
