<header>
  <div class="brand-logo">
    <%= image_tag project.logo, class: "logo" %>
  </div>

  <ul class="brand-contact-details">
    <li>
      <div class="brand-contact-type">A:</div>

      <span class="accent"><%= render(
        partial: "addresses/invoice_address",
        object: project.business_address,
        as: :address
        ) if project.business_address %></span>
    </li>
    <li>
      <div class="brand-contact-type">T:</div>
      <strong class="accent">01482 <!-- TODO: Brand telephone --></strong>
    </li>
    <li>
      <div class="brand-contact-type">E:</div>
      <strong class="accent"><!-- TODO: Brand email --></strong>
    </li>
    <li>
      <div class="brand-contact-type">W:</div>
      <strong class="accent"><!-- TODO: Brand website --></strong>
    </li>
  </ul>

</header>

<div class="clear"></div>

<% if project.quoted? %>
  <%= render 'downloads/shared/quote', project: project %>
<% else %>
  <%= render 'downloads/shared/invoice', project: project %>
<% end %>
