<div class="quote-details">
  <h1 class="quote-title">
    Quote
  </h1>

  <div class="quote-reference">
    Quote ref: <%= project.customer.id %>-<%= project.id + 100 %>
  </div>
</div>

<h2 class="quote-date">
  Date: <%= l Date.today, format: :default %>
</h2>

<p>Dear <%= project.customer.name %>,</p>

<p>
  Thank you for your recent enquiry, please find the details and prices below.
  If you have any questions or would like to discuss the quote further then
  please don’t hesitate to contact me.
</p>
