<div class="content">
  <div class="index">
    <h2>My Projects - Not Invoiced in Full</h2>
    <div class="project-report heading">
      <div class="full-name">
        Name
      </div>
      <div class="invoice-field">
        My Price
      </div>
      <div class="invoice-field">
        Total Invoiced
      </div>
      <div class="invoice-field">
        Total Not Invoiced
      </div>
    </div>

    <%= render partial: 'financial_reports/projects/project_invoice',
               collection: @projects,
               as: :project %>

    <div class="project-report total">
     <div class="full-name">
       Total
     </div>
     <div class="invoice-field">
       <%= number_to_currency @projects.map(&:brand_price).reduce(0, :+) %>
     </div>
     <div class="invoice-field">
       <%= number_to_currency @projects.map{|x| x.invoices.map(&:amount).sum }.reduce(0, :+) %>
     </div>
     <div class="invoice-field">
       <%= number_to_currency @projects.map(&:total_not_invoiced).reduce(0, :+) %>
     </div>
    </div>
  </div>
</div>
