<h1><%= @project.name %> Invoices</h1>

<%= link_to "Add Percentage Invoice", new_project_percentage_invoice_path(@project), class: "action-button" %>

<% unless @invoices.blank? %>
  <%= render(
    partial: "invoices/invoice",
    collection: @invoices
  ) %>
<% end %>
