<%= content_tag :div, class: "basic-listing #{cycle('odd', 'even', class: 'vehicle-wraps-sundry-item')}", id: dom_id(sundry_item) do %>
  <div class="vehicle-wraps-sundry-item-details">
    <%= link_to edit_vehicle_wraps_sundry_item_path(sundry_item) do %>
      <%= [octicon('pencil'), sundry_item.name, number_to_currency(sundry_item.cost)].join(" ").html_safe %>
    <% end %>
  </div>

  <div class="vehicle-wraps-sundry-item-navigation vehicle-wraps-sundry-item-delete-link">
    <%= button_to 'Remove', vehicle_wraps_sundry_item_path(sundry_item), method: :delete,
                data: { confirm: 'Are you sure?', disable_with: 'processing...' },
                class: 'secondary-action-button' %>
  </div>
<% end %>

