<%= div_for mileage, class: "basic-listing mileage" do %>
  <div class="basic-listing-details basic-listing-link">
    <%= pluralize(mileage.miles, "mile") %>
    <%= link_to "Edit", edit_mileage_path(mileage) %>
  </div>

  <div class="basic-listing-navigation basic-listing-delete-link">
    <%= button_to "Remove", mileage_path(mileage), method: :delete,
      data: { confirm: "Are you sure?", disable_with: "Processing..." }, class: 'secondary-action-button' %>
  </div>
<% end %>
