<div class="addresses">
  <h3>Addresses</h3>

  <% if customer.addresses.any? %>
    <%= render(
      partial: "addresses/address",
      collection: customer.addresses,
      as: :address
    ) %>
  <% end %>
  <%= link_to "Add New Address", new_customer_address_path(customer) %>
</div>
