<% present job_specification do |job_specification_presenter| %>
  <%= content_tag :div, class: "basic-listing #{cycle('odd', 'even', class: 'job_specification')}", id: job_specification_presenter.dom_id do %>
    <div class="basic-listing-details">
      <%= job_specification_presenter.octicon_edit_link %>
    </div>

    <div class="basic-listing-navigation basic-listing-delete-link">
      <%= job_specification_presenter.delete_link %>
    </div>
  <% end %>
<% end %>
