<%= div_for job_specification, class: "basic-listing job-specification #{cycle('odd', 'even', name: 'job_specification')}" do %>
  <div class="basic-listing-details basic-listing-link">
    <%= pluralize(job_specification.hours, 'hour') %>
    <%= link_to "Edit", edit_job_specification_path(job_specification) %>
  </div>

  <div class="basic-listing-navigation basic-listing-delete-link">
    <%= button_to "Remove", job_specification_path(job_specification), method: :delete,
      data: { confirm: "Are you sure?", disable_with: "Processing..." }, class: 'secondary-action-button' %>
  </div>
<% end %>
