<div class="designs">
  <% if @project.designs.any? %>
    <%= render(
      partial: "designs/design",
      collection: @project.designs,
      as: :design
    ) %>
  <% end %>
  <%= link_to "Add Design", new_project_design_path(@project) %>
</div>
