<div class="content envisage-invoices">
  <% if project.envisage_invoices.any? %>
    <%= render(
      partial: "envisage/invoices/summary",
      collection: project.envisage_invoices,
      as: :invoice
    ) %>
  <% elsif !project.envisage_to_my_price.zero? %>
    <%= button_to I18n.t('views.projects.envisage_invoices.create_envisage_invoice'),
      project_envisage_invoices_path(project), class: "action-button" %>
  <% end %>
</div>
