<div class="content">
  <div class="index">
    <h3 class="inline-title">Print Items</h3>
    <% present @project do |presented_project| %>
      <%= presented_project.new_print_job_link('Add') %>
      <%= presented_project.add_vehicle_wrap_link %>
    <% end %>

    <% if project.print_jobs.any? %>
      <%= render(
        partial: "print_jobs/print_job",
        collection: project.print_jobs.order(created_at: :asc),
        as: :print_job
      ) %>
    <% end %>
  </div>
</div>
