<div class="content">
  <div class="index">
    <h3>Print Items</h3>

    <% if @presented_print_jobs.present? %>
      <%= render(
        partial: "print_jobs/print_job",
        collection: @presented_print_jobs,
        as: :print_job
      ) %>
    <% end %>
  </div>
</div>
