<div class="content">
  <div class="index">
    <h1>My Unpaid Invoices</h1>
    <%= render "my/invoices/navigation" %>
    <%= render "my/invoice_searches/form" %>

    <div class="invoice-header">
      <div class="download">
        &nbsp;
      </div>
      <div class="number">
        Number
      </div>
      <div class="customer-and-project">
        Customer &amp; Project
      </div>
      <div class="name">
        Name
      </div>
      <div class="percentage">
        Percentage
      </div>
      <div class="amount">
        Total
      </div>
      <div class="vat">
        VAT
      </div>
      <div class="total">
        Total inc VAT
      </div>
      <div class="pay-info">
        Paid
      </div>
    </div>
    <%= render @invoices %>
    <div>
      <strong>Total</strong><%= number_to_currency @total %>
    </div>
  </div>
</div>
