.customer-header {
  border-bottom: 1px solid $dark-grey;
  overflow: auto;
}

.pdf .customer-header {
  border: 0;
  margin: 0 0 rem-calc(10px);
}

.pdf .brand-contact-details,
.pdf .brand-logo {
  @include grid-column(6);
}

.customer-header-inner {
  @include grid-row;
  @include border-bottom-radius(rem-calc(20));
  margin: rem-calc(12px) auto;
}

.brand-contact-details {
  @include grid-column(4);
  list-style: none;
  font-size: rem-calc(12px);
  margin: 0;
  padding: 0;
  line-height: 1.25;
  padding-right: rem-calc(60px);

  li {
    margin: 0 0 rem-calc(2px);
    overflow: hidden;
  }

  strong {
    float: left;
    width: 94%;
  }
}

.brand-contact-type {
  float: left;
  width: 6%;
}

.brand-logo {
  @include grid-column(8);
}
