<% designs.each do |design| %>
  <tr>
    <td >
      <%= design.hours %> hours
    </td>
    <td>
      Design
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <%= number_to_currency design.envisage_price %>
    </td>
  </tr>
<% end %>
