<% mileages.each do |mileage| %>
  <tr>
    <td>
      <%= mileage.miles %>
    </td>
    <td>
      Miles
    </td>
    <td>
      <%= number_to_currency mileage.cost %>
    </td>
    <td>
      <%= number_to_currency mileage.envisage_price %>
    </td>
  </tr>
<% end %>
