<% supporting_product_items.each do |supporting_product_item| %>
  <tr>
    <td>
      <%= supporting_product_item.area %> sqm
    </td>
    <td>
      <%= supporting_product_item.name %>
    </td>
    <td>
      <%= number_to_currency supporting_product_item.cost %>
    </td>
    <td>
      <%= number_to_currency supporting_product_item.envisage_price %>
    </td>
  </tr>
<% end %>
