<h2>Totals</h2>

<table>
  <thead>
    <tr>
      <th>
        Unit
      </th>
      <th>
        Name
      </th>
      <th>
        Cost
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>
  <tbody>
    <% main_totaliser.all_totalisers.each do |totaliser| %>
      <tr>
        <td>
          <%= totaliser.units %>
        </td>
        <td>
          <%= totaliser.name %>
        </td>
        <td>
          <%= number_to_currency totaliser.cost %>
        </td>
        <td>
          <%= number_to_currency totaliser.price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
