<%= div_for account_management, class: "basic-listing account-management #{cycle('odd', 'even', name: 'job_specification')}" do %>
  <div class="basic-listing-details basic-listing-link">
    <%= pluralize account_management.hours, "hour" %>
    <%= link_to "Edit", edit_account_management_path(account_management) %>
  </div>

  <div class="basic-listing-navigation basic-listing-delete-link">
    <%= button_to "Remove", account_management_path(account_management), method: :delete,
      data: { confirm: "Are you sure?", disable_with: "Processing..." }, class: 'secondary-action-button' %>
  </div>
<% end %>
