<%= div_for project_item do %>
  <div class="product-name">
    <%= project_item.product.name %>
  </div>
  <div class="size">
    <%= project_item.size %>
  </div>
  <div class="description">
    <%= project_item.description %>
  </div>
<% end %>
