.customer {
  @include grid-row;
  margin: rem-calc(5px) auto;
  padding: rem-calc(5px) 0;

  &.odd {
    background: lighten($brown, 33%);
  }

  a {
    text-decoration: none;
  }
}

.customer-name {
  font-weight: $lato-bold;
  @include grid-column(3);
}

.customer-quoted,
.customer-sold,
.customer-completed {
  @include grid-column(3);
}
