.project-report {
  @include grid-row;

  .name, .my-price, .my-profit, .envisage-price, .envisage-profit, .cost {
    @include grid-column($columns: 2, $gutter: 10);
  }


  .full-name {
    @include grid-column($columns: 4, $gutter: 10);
  }

  .price-field {
    @include grid-column($columns: 1, $gutter: 5);
    text-align: center;
    
    &:last-of-type {
      @include grid-column-end;
    }
  }

  .invoice-field {
    @include grid-column($columns: 2, $gutter: 10);
    text-align: center;

    &:last-of-type {
      @include grid-column-end;
    }
  }


  padding: rem-calc(5px 0);
}

.project-report.heading {
  border-bottom: 2px solid $green;

  .price-field,
  .invoice-field {
    text-align: center;
  }
}

.project-report.total {
  border-top: 2px solid $green;
  margin-bottom: rem-calc(20px);
}
