label {
  cursor: pointer;
}

.user-form {
  @include grid-column(6);
  background: $white;
  box-shadow: 0 0 5px 0 rgba($white, .75);
  margin: 0 auto;
  padding: rem-calc(20px);
}

.sessions {
  background: image-url('layout/fur-background.jpg') center no-repeat;
}

.inline-block {
  display: inline-block;
  width: auto;
}

.index-form {
  background: $pink;
  margin: rem-calc(15px) 0 0;
  padding: rem-calc(15px);

  label {
    color: $white;
  }
}

.index-search-item {
  display: inline-block;
  width: 94%;
}

.index-search-pagination {
  display: inline-block;
  width: 5%;
}

.index-search-filters {
  @extend %clearfix;
  margin: 0 0 rem-calc(15px);

  .quarters {
    float: left;
    margin-right: 1%;
    width: 24%;
  }

  .thirds {
    float: left;
    width: 33%;
  }

  input[type='checkbox'],
  select {
    margin: 0;
  }

  select {
    width: 100%;
  }
}

.field_with_errors {
  input {
    border: 1px solid $error;
    margin-bottom: 0;
  }

  .error {
    color: $error;
    font-weight: $lato-bold;
  }
}

.submit-button,
.secondary-action-button {
  @include border-radius(4px);
  background: $orange;
  border: 1px solid $orange;
  color: $white;
  display: inline-block;
  font-size: rem-calc(17px);
  padding: rem-calc(5px) rem-calc(12px);
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
  }

  &:focus {
    border-color: $slate-grey;
    outline: none;
  }

  &:hover {
    background: lighten($pink, 15%);
  }
}

.action-button {
  @include border-radius(4px);
  background: $pink;
  border: 1px solid $pink;
  color: $white;
  display: inline-block;
  font-size: rem-calc(14px);
  padding: rem-calc(5px) rem-calc(3px);
  text-decoration: none;
  
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
  }

  &:focus {
    border-color: $slate-grey;
    outline: none;
  }

  &:hover {
    background: lighten($pink, 15%);
  }
}

.fieldset-group {
  border: 1px solid $dark-green;
  margin: 0 0 rem-calc(20px);
  padding: rem-calc(10px);

  legend {
    font-size: rem-calc(12px);
    font-weight: $lato-bold;
    padding: 0 em(15px);
    text-transform: uppercase;
  }
}

.equal-width-form {
  @include grid-row;

  .input {
    @include grid-column(6);
  }
}

.new_multiple_product_addition {
  overflow: hidden;

  .input {
    float: left;
    width: 45%;
    margin: 0 5% 0 0;
  }
}
