.basic-listing {
  @include grid-row;
  @include listing;
  .quote-type-edit-link {
    display: inline-block;
    margin: 5px;


    &:hover {
      text-decoration: none;
      background: $grey-flat;
      border-radius: 5px;
      color: $green;
      padding: 10px;
    }
  }
}

.index {
  @include grid-column(12);
}

.index-items {
  margin: rem-calc(15px) 0;
}

.basic-listing-details {
  @include grid-column(9);
}

.basic-listing-navigation {
  @include grid-column(3);
}

.basic-listing-delete-link {
  text-align: right;
}

.basic-listing-link {
  display: block;
  text-decoration: none;
}
