.invoice, .invoice-header {
  @include grid-row;
  .number, .percentage, .download, .pay-info, .date, .due-date, .name, .vat, .amount, .total {
    @include grid-column(1);
  }
  .customer-and-project {
    @include grid-column(3);
  }
}

.amount-invoice-details {
  @include grid-column(12);
}
.amount-items {
  @include grid-row;
  .vat, .non-vat {
    @include grid-column(6);
    display: flex;
    .description {
      flex-basis: calc(100% / 3 * 2);
    }
    .total {
      flex-basis: calc(100% / 3 );
      text-align: center;
    }
  }
}

nav#my-invoice, nav#envisage-invoice {
  ul {
    list-style-type: none;
  }

  ul li {
    display: inline;
    background-color: $dark-green;
    margin: 0 2px;
    padding: 5px 8px;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  ul li.current {
    background-color: $green;
  }
}

.invoice {
  padding: 5px 0;
  border-bottom: 1px solid $green;
}

.invoice-header {
  background-color: $green;
  color: $white;
}
