.project {
  a {
    text-decoration: none;
  }

  &:hover {
    background: lighten($dark-grey, 75%);
    border-color: $dark-grey;
  }
}

.project-name {
  @include grid-column(4);
  font-weight: $lato-bold;
  padding-top: 5px;
}

.project-main-title {
  display: inline-block;
}

.project-prices-summary {
  @include grid-column(4);
}

.project-status {
  @include grid-column(2);
}

.project-brand {
  @include grid-column(2);
  padding-top: 17px;
}

.project-print-jobs-count {
  font-size: rem-calc(12px);
  font-weight: normal;
}

.project-prices {
  color: $dark-grey;
  font-size: rem-calc(14px);
  margin: rem-calc(4px) 0;
  text-transform: uppercase;
}

.project-price {
  color: $offset-black;
  font-size: rem-calc(20px);
  font-weight: $lato-bold;
}

.project-summary-details {
  @include grid-row;
}

.project-address {
  @include grid-column(4);
}

.project-confirmation {
  @include grid-column(3);
  @include grid-column-offset(1);
  text-align: left;

  .secondary-action-button {
    display: inline-block;
    margin: rem-calc(5px) 0;
    text-align: center;
  }

  .action-button {
    display: inline-block;
    margin: rem-calc(5px) 0;
    text-align: center;
  }
}

.project-job-sheets {
  margin: rem-calc(5px) 0 rem-calc(15px);
}

.project-menu-descriptors,
.project-menu-brand-prices-breakdown {
  list-style: none;
  margin: 0 0 rem-calc(10px);
  padding: 0;

  li {
    margin: rem-calc(7px) 0;
  }
}

.project-menu-descriptor,
.project-menu-brand-price-breakdown {
  color: $green;
  display: inline-block;
}

.project-address-title {
  margin: rem-calc(10px) 0 0;
}

.pay-invoice-breakdown {
  margin: rem-calc(10px) 0;
}

.project-finalised-at {
  font-size: rem-calc(12px);
}

.quote-type {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 10px;
  }
  text-transform: uppercase;
}


.quote-type-link {
  &:link,
  &:visited {
    background: $green;
    border-radius: 5px;
    color: $white;
    padding: 10px;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background: $white;
    border-radius: 5px;
    color: $green;
    padding: 10px;
  }

  &.active {
    text-decoration: none;
    background: $white;
    border-radius: 5px;
    color: $green;
    padding: 10px;
    font-weight: bold;
  }

  &.red {
    background: $red-flat;
    &.active {
      background: white;
      color: $red-flat;
    }
    &:hover {
      background: $red-flat2;
      color: $white;
    }
  }
  &.amber {
    background: $amber-flat;
    &.active {
      background: white;
      color: $amber-flat;
    }
    &:hover {
      background: $amber-flat2;
      color: $white;
    }
  }
  &.green {
    background: $green-flat;
    &.active {
      background: white;
      color: $green-flat;
    }
    &:hover {
      background: $green-flat2;
      color: $white;
    }
  }
}

.quote-type-edit-link {
  display: inline-block;
  margin: 5px;

  &:link,
  &:visited {
    background: $green;
    border-radius: 5px;
    color: $white;
    padding: 10px;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background: $white;
    border-radius: 5px;
    color: $green;
    padding: 10px;
  }

  &.active {
    text-decoration: none;
    background: $white;
    border-radius: 5px;
    color: $green;
    padding: 10px;
    font-weight: bold;
  }

  &.red {
    background: $red-flat;
    &.active {
      background: white;
      color: $red-flat;
    }
    &:hover {
      background: $red-flat2;
      color: $white;
    }
  }
  &.amber {
    background: $amber-flat;
    &.active {
      background: white;
      color: $amber-flat;
    }
    &:hover {
      background: $amber-flat2;
      color: $white;
    }
  }
  &.green {
    background: $green-flat;
    &.active {
      background: white;
      color: $green-flat;
    }
    &:hover {
      background: $green-flat2;
      color: $white;
    }
  }
}

.category-quote-container {
  background: $green;
  border-radius: 10px;
  margin: 0 0 20px 0;
  @include grid-row;
}

.category-container {
  @include grid-column(4);
  padding-top: 12px;
}

.quote-container {
  @include grid-column(8);
}

.category-brand {
  display: inline-block;
  padding-right: 10px;
  color: $white;
  text-transform: uppercase;
}

.category-selector {
  display: inline-block;
  width: auto;
}

.profit-stats-wrapper {
  @include grid-row;
  background: $grey-flat;
}

.profit-stats-container {
  @include grid-column(12);
  @media screen and (min-width: 40em) {
    padding: 0;
  }
}

.profit-stats-content-container {
  @include grid-row;
  background: $blue;
  color: $white;
  padding: 7px 0 0;

}

.profit-stats-title {
  @include grid-column(4);
  @media screen and (min-width: 40em) {
    padding-right: 0;
  }
}

.profit-stats-content {
  @include grid-column(4);
}

.profit-type{
  color: $white;
  font-size: 14px;
  margin: 2px 0 0;
}

.profit-type-low-priority {
  color: $black;
  font-size: 14px;
  margin: 2px 0 0;
}

.quote-title-red {
background: $red-flat;
}

.quote-title-amber {
  background: $amber-flat;
  color: $white;
}

.quote-title-green {
  background: $green-flat;
  color: $white;
}

.quote-title-5 {
  background: none;
  color: $black;

  .profit-type {
    color: $black;
  }
}


.expected-value {
  @include grid-column-end;

  &.profile-stats-columns:last-child:not(:first-child) {
    float: left;
  }
}

.quote-title-expected {
  background: none;
  color: $black;
  padding: 8px 15px 0;
  border-left: solid 2px $white;
}

.profile-stats-columns {
  @include grid-column(3);

  @media screen and (min-width: 40em) {
    padding: 0;
  }
}

.quote-stage-updated-at {
  font-size: em(12px);
}

.notes-form {
  margin: 0 0 20px;
}

.notes-field {
  height: 385px;
}
