.project {
  a {
    text-decoration: none;
  }

  &:hover {
    background: lighten($dark-grey, 75%);
    border-color: $dark-grey;
  }
}

.project-name {
  @include grid-column(4);
  font-weight: $lato-bold;
}

.project-main-title {
  display: inline-block;
}

.project-prices-summary {
  @include grid-column(4);
}

.project-status {
  @include grid-column(2);
}

.project-brand {
  @include grid-column(2);
}

.project-print-jobs-count {
  font-size: rem-calc(12px);
  font-weight: normal;
}

.project-prices {
  color: $dark-grey;
  font-size: rem-calc(14px);
  margin: rem-calc(4px) 0;
  text-transform: uppercase;
}

.project-price {
  color: $offset-black;
  font-size: rem-calc(20px);
  font-weight: $lato-bold;
}

.project-summary-details {
  @include grid-row;
}

.project-address {
  @include grid-column(4);
}

.project-confirmation {
  @include grid-column(3);
  @include grid-column-offset(1);
  text-align: left;

  .secondary-action-button {
    display: inline-block;
    margin: rem-calc(5px) 0;
    text-align: center;
  }

  .action-button {
    display: inline-block;
    margin: rem-calc(5px) 0;
    text-align: center;
  }
}

.project-job-sheets {
  margin: rem-calc(5px) 0 rem-calc(15px);
}

.project-menu-descriptors,
.project-menu-brand-prices-breakdown {
  list-style: none;
  margin: 0 0 rem-calc(10px);
  padding: 0;

  li {
    margin: rem-calc(7px) 0;
  }
}

.project-menu-descriptor,
.project-menu-brand-price-breakdown {
  color: $green;
  display: inline-block;
}

.project-address-title {
  margin: rem-calc(10px) 0 0;
}

.pay-invoice-breakdown {
  margin: rem-calc(10px) 0;
}

.project-finalised-at {
  font-size: rem-calc(12px);
}
