<% present supporting_product_item do |supporting_product_item_presenter| %>
  <%= content_tag :div, class: "basic-listing supporting-product-item #{cycle('odd', 'even', class: 'supporting_item')}", id: supporting_product_item_presenter.dom_id do %>
    <div class="basic-listing-details">
      <%= supporting_product_item_presenter.edit_link_content("#{octicon('pencil')} #{supporting_product_item_presenter.name} #{format_area(supporting_product_item_presenter.area)}".html_safe, class: 'basic-listing-link') %>
    </div>

    <div class="basic-listing-navigation basic-listing-delete-link">
      <%= supporting_product_item_presenter.delete_link %>
    </div>
  <% end %>
<% end %>
