<h3>Override Prices</h3>
<div>
  Envisage Override Price  <%= number_to_currency vehicle_wrap.envisage_override_price %>
</div>

<div>
  Envisage Trade Override Price  <%= number_to_currency vehicle_wrap.envisage_trade_override_price %>
</div>

<div>
  Envisage To My Override Price  <%= number_to_currency vehicle_wrap.envisage_to_my_override_price %>
</div>

<div>
  My Override Price  <%= number_to_currency vehicle_wrap.my_override_price %>
</div>
