<div class="content">
  <div class="main vehicle-wrap-section" id="sundry-items">
    <h3>Sundry Items</h3>

    <%= link_to "Add Sundry Item", new_vehicle_wrap_vehicle_wraps_sundry_item_path(vehicle_wrap) %>

    <% if vehicle_wrap.sundry_items.any? %>
      <%= render(
        partial: "vehicle_wraps/sundry_items/sundry_item",
        collection: vehicle_wrap.sundry_items,
        as: :sundry_item
      ) %>
    <% end %>
  </div>
</div>
