<h3>Supporting Products</h3>

<table>
  <thead>
    <tr>
      <th>
        Area
      </th>
      <th>
        Name
      </th>
      <th>
        Cost
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>
  <tbody>
    <% print_job.supporting_product_items.each do |supporting_product_item| %>
      <tr>
        <td>
          <%= supporting_product_item.area %>
        </td>
        <td>
          <%= supporting_product_item.name %>
        </td>
        <td>
          <%= number_to_currency supporting_product_item.cost %>
        </td>
        <td>
          <%= number_to_currency supporting_product_item.price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
